.row {
    max-width: $grid-max-width;
    // background-color: #eee;
    margin: 0 auto;

    //选择除了最后一个元素的所有元素
    &:not(:last-child) {
        margin-bottom: 8rem;
    }

    @include clearfix;

    [class^="col-"] {
        // background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $grid-gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$grid-gutter-horizontal}) / 2);
        //就是calc((100% - 6rem) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$grid-gutter-horizontal}) / 3);
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$grid-gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$grid-gutter-horizontal}) / 4) + #{$grid-gutter-horizontal});
    }

}