@mixin clearfix {

    // 解决浮动导致的高度塌陷问题
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// 媒体查询管理
@mixin respond($breakpoint) {
    @if $breakpoint ==m6 {
        @media (max-width:37.5em) {@content}; //600px
    }

    @if $breakpoint ==m9 {
        @media (max-width:56.25em) { @content}; //900px
    }

    @if $breakpoint ==m12 {
        @media (max-width:75em) {@content}; // 1200px
    }

    @if $breakpoint ==m18 {
        @media (min-width:112.5em) {@content}; //1800px
    }


}