.popup {
    background-color: rgba($color-black, .9);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    // display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    transition: all .3s;

    // 打开的时候
    &:target {
        visibility: visible;
        opacity: 1;
    }

    &:target &--content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &--close {
        color: $color-black;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 2.4rem;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        line-height: 1rem;

        &:hover {
            color: $color-primary;
        }
    }

    &--content {
        background-color: $color-white;
        // height: 60rem;
        width: 75%;
        @include absoluteCenter;
        box-shadow: 0 1rem 1rem 1rem rgba($color-red-1, .3);
        border-radius: 3px;
        overflow: hidden;
        display: table;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .4s .2s;

        @include respond(m12) {
            width: 90%;
            height: 50%;
        }

    }

    &--left {
        width: 33%;
        display: table-cell;

        @include respond(m9) {
            display: none;
        }

    }

    &--right {
        width: 66.7%;
        display: table-cell;
        vertical-align: top;
        padding: 3rem 5rem;

        @include respond(m9) {
            width: 100%;
            display: block;
            padding: 2rem 3rem;
        }

    }

    &--img {
        display: block;
        width: 100%;

        @include respond(m12) {
            height: 50%;
        }
    }

    &--paragraph {
        font-size: 1.5rem;
        margin-bottom: 4rem;
        font-weight: 500;
        // 分栏显示
        column-count: 3;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;
        // 连字符
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include respond(m9) {
            font-size: 1.6rem;
            column-count: 2;
            column-gap: 2rem;
            margin-bottom: 2rem;
        }
    }
}