/* 为所有的伪元素也加上 */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 设置根字体大小 ,默认大小为16px，此处为10px*/
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
}