/* 为所有的伪元素也加上 */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 设置根字体大小 ,默认大小为16px，此处为10px,即1rem=10px*/
    font-size: 62.5%;

    @include respond(m18) {
        font-size: 75%;
    }

    @include respond(m12) {
        font-size: 56.25%;
    }

    @include respond(m9) {
        font-size: 50%;
    }

    // @include respond(m6) {
    //     font-size: 40%;
    // }

}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;

    @include respond(m9) {
        padding: 0;
    }
}