.primary-title {
    color: $color-white;
    text-transform: uppercase;

    &-main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 5.5rem;
        animation: moveInleft 1.5s ease-out;

        /*
        animation-delay: 2s;//动画延迟时间
        animation-iteration-count: 3;//动画迭代次数
         */
        @include respond(m6) {
            letter-spacing: 2rem;
            font-size: 4rem;
        }
    }

    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.4rem;
        animation: moveInright 1.5s ease-out;
        margin-bottom: 5rem;

        @include respond(m6) {
            letter-spacing: 1rem;
        }
    }

}

.heading-second {
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(m9) {
        font-size: 3rem;
    }

    @include respond(m6) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(3deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .4);
    }
}

.heading-third {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.4rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}